---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import CourseCard from "../components/CourseCard.astro";
import sunsetBarrel from "../images/sunset-barrel.jpeg";
import AboutCard from "../components/AboutCard.astro";

const courses = await getCollection("courses");
---

<Layout
  title="Home"
  description="Sequence Surfing, coaching, training and conditioning. Join Ben somewhere around the world or online, for a beginner to elite coaching to enable you to get clear progression points and areas to pinpoint future success."
>
  <Image
    class="mb-4 w-screen rounded"
    src={sunsetBarrel}
    alt="hero image: Ben catching a barrel at sunset"
  />

  <AboutCard showLink />

  <section id="courses" class="bg-white opacity-90 rounded scroll-m-32 p-4">
    <h2 class="font-bold text-2xl my-4">Courses Available</h2>
    <div class="flex flex-wrap justify-center gap-4">
      {
        courses
          .toSorted((a, b) => (a.data.order > b.data.order ? 1 : -1))
          .map((course, i) => <CourseCard course={course} index={i} />)
      }
    </div>
  </section>
</Layout>
