---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import CourseCard from "../components/CourseCard.astro";

const courses = await getCollection("courses");
---

<Layout title="Home">
  {courses.map((course) => <CourseCard course={course} />)}
  <main></main>
</Layout>
