---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import CourseCard from "../components/CourseCard.astro";

const courses = await getCollection("courses");
---

<Layout title="Home">
  <div id="courses" class="flex flex-wrap gap-4 justify-center">
    {courses.map((course) => <CourseCard course={course} />)}
  </div>
</Layout>
