---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import CourseCard from "../components/CourseCard.astro";

const courses = await getCollection("courses");
---

<Layout
  title="Home"
  description="Sequence Surfing, coaching, training and conditioning. Join Ben somewhere around the world or online, for a beginner to elite coaching to enable you to get clear progression points and areas to pinpoint future success."
>
  <div id="courses" class="flex flex-wrap justify-center gap-4">
    {courses.map((course) => <CourseCard course={course} />)}
  </div>
</Layout>
