---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<header class="bg-yellow-400 p-12">
		<h1 class="text-white text-center text-4xl">Sequence Surfing</h1>
		</header>
	<main>
		
	</main>
</Layout>
