---
import "@fontsource-variable/saira";
import "@fontsource-variable/nunito";
import { Image } from "astro:assets";
import logo from "../images/logo.svg";

interface Props {
  title: string;
  description: string;
  whiteBackground?: boolean;
}

const { title, description, whiteBackground } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Sequence Surfing - {title}</title>
    <script>
      document.documentElement.classList.add("js");
    </script>
  </head>
  <body class="bg-yellow-400">
    <header
      class="bg-yellow-400 px-8 xl:px-36 sticky top-0 z-40 flex justify-between"
    >
      <a href="/" class="flex items-center font-extrabold text-white">
        <Image
          src={logo}
          class="mr-2 pt-2 w-12"
          alt="Logo: a stylised circular wave"
        />
        <h1 class="text-center text-2xl">Sequence Surfing</h1>
      </a>
      <a href="/about" class="flex items-center font-extrabold text-white">
        About</a
      >
    </header>

    <main
      class={`mx-auto max-w-7xl scroll-smooth ${whiteBackground && "bg-white p-4 m-4 rounded"} `}
    >
      <slot />
    </main>
    <script src="https://unpkg.com/taos@1.0.5/dist/taos.js"></script>
  </body>
</html>
