---
import "@fontsource/original-surfer";
import "@fontsource/mooli";
import { Image } from "astro:assets";
import logo from "../images/logo.svg";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Sequence Surfing - {title}</title>
  </head>
  <body>
    <header class="bg-yellow-400 pt-2 pl-8 sticky top-0 drop-shadow-lg">
      <a href="/" class="flex items-center font-extrabold text-white">
        <Image
          src={logo}
          class="mr-4 w-24"
          alt="Logo: a stylised circular wave"
        />
        <h1 class="pb-4 text-center text-4xl">Sequence Surfing</h1>
      </a>
    </header>

    <main class="mx-auto max-w-5xl p-4">
      <slot />
    </main>
  </body>
</html>
