---
import "@fontsource/original-surfer";
import { Image } from "astro:assets";
import logo from "../images/logo.svg";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Sequence Surfing - {title}</title>
  </head>
  <body>
    <header class="bg-yellow-400 p-4 pl-8 flex items-center">
      <Image
        src={logo}
        class="w-24 mr-4"
        alt="Logo: a stylised circular wave"
      />
      <h1 class="text-center text-4xl pb-4">Sequence Surfing</h1>
    </header>

    <main class="p-4">
      <slot />
    </main>
  </body>
</html>
